/* all of the boxes below have text that is centered either by specifying text-align or by using the padding and margin attributes (box 4) */


.box-one {
    background-color: lightgreen;
    border: 10px solid blue;
    text-align: center;
      
}

.box-two {
    background-color: blueviolet;
    border: 40px solid black;
    margin: 10px;
    text-align: center;


}

.box-three {
    background-color: pink;
    border: 10px solid red;
    padding: 50px;
    margin: 25px;
    text-align: center;



}

.four {
    background-color: lightskyblue;
    width: 250px;
    border: 10px solid purple;
    padding: 50px;
    margin: 25px;
}

